<html>

<head>
    <title>Xchanger-create hostel</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
    <h1>新增民宿資料</h1>
    <div class="row">
        <div class="col-md-6">
    <form method="post" action="/hostel">
        <div class="form-group">
            <label for="licence">licence:</label>
            <input type="text" class="form-control" name="licence" id="licence">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" value="慢慢來民宿">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" name="city" value="臺東縣">
        </div>
        <div class="form-group">
            <label for="township">Township:</label>
            <input type="text" class="form-control" name="township" value="台東市">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" name="address" value="950台灣台東縣台東市南昌街112巷33號">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone" name="phone" value="0978919033">
        </div>
        <div class="form-group">
            <label for="fax">Fax:</label>
            <input type="text" class="form-control" id="fax" name="fax">
        </div>
        <div class="form-group">
            <label for="rooms">Rooms:</label>
            <input type="text" class="form-control" id="rooms" name="rooms" value="0">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="website">Email:</label>
            <input type="text" class="form-control" id="website" name="website" value="https://www.facebook.com/TYTguesthouse/">
        </div>
        <div class="form-group">
            <label for="zip_code">Zip code:</label>
            <input type="text" class="form-control" id="zip_code" name="zip_code" value="950">
        </div>
        <div class="form-group">
            <label for="enable_date">Enable date:</label>
            <input type="text" class="form-control" id="enable_date" name="enable_date">
        </div>
        <div class="form-group">
            <label for="polis">Polis:</label>
            <input type="text" class="form-control" id="polis" name="polis">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="type" value="好客民宿">
            <input type="hidden" class="form-control" name="star" value="0">
            <input type="submit" class="btn-primary" name="submit" value="submit">
        </div>
    </form>
        </div>
    </div>
    </div>
</body>

</html>