<html>
	<head>
		<title>Xchanger-hostel polis</title>
		<meta name="viewport" content="initial-scale=1.0">
	</head>
	<body>
		<div class='polis' data-conversation_id='<%= hostel.polis %>'></div>
		<script async='true' src='https://pol.is/embed.js'></script>
	</body>
</html>