<h1>關於我們</h1>
一個寫程式的人和一個寫文字的人，因為一個偏遠到不行的非營利組織而結緣，因為酒而續緣。
寫程式的人和寫文字的人都嚮往自由自在的生活，在追求自由的路上，我們當過各式各樣的小幫手，見識了千奇百怪的店家雇主，發現雇主與小幫手之間的愛恨情仇、江湖恩怨簡直比金庸還精彩。
為了維護江湖秩序和世界和平，我們決定用自己小小的力量，建立Xchanger，提供一個平台讓雙方開誠布公地交流，並互助互利。
當然如果可以藉此換來一點酒那就再好不過了。