<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 85vh; }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
          <% include ../navbar %>
      </div>
      <div class="row">
        <div class="col-md-12" id="map">
              <!-- <svg viewBox="0 0 800 600"></svg> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="/hostel/create"><i class="fa fa-thumbs-o-up fa-5" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    
<script>
var hostels = <%- JSON.stringify(hostels) %>;
console.log(hostels);
var map;
function initMap() {
  var myLatLng = {lat: 23.655292290836066, lng: 120.44604003906248};
  map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    zoom: 7,
    disableDefaultUI: true
  });
  for (var i = 0; i < hostels.length; i++) {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'address': hostels[i].address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
  }
}
</script>

  <script>
    d3.json("county.json", function(topodata) {
      var features = topojson.feature(topodata, topodata.objects["county"]).features;
      // 這裡要注意的是 topodata.objects["county"] 中的 "county" 為原本 shp 的檔名
      var path = d3.geo.path().projection( // 路徑產生器
          d3.geo.mercator().center([121,24]).scale(6000) // 座標變換函式
      );
    
      d3.select("svg").selectAll("path").data(features).enter().append("path").attr("d",path);
      var density = {};
      // var density = {
      //     "臺北市": 0, "嘉義市": 0, "新竹市": 0,
      //     "基隆市": 1, "新北市": 205, "桃園市": 28,
      //     "臺中市": 68, "彰化縣": 28, "高雄市": 56,
      //     "金門縣": 180, "臺南市": 77, "澎湖縣": 407,
      //     "雲林縣": 65, "連江縣": 93, "新竹縣": 62,
      //     "苗栗縣": 229, "屏東縣": 460, "嘉義縣": 133,
      //     "宜蘭縣": 1167, "南投縣": 549, "花蓮縣": 1516,
      //     "臺東縣": 922,
      // };

      for(idx=features.length - 1; idx >=0; idx -- ) {
          features[idx].density = density[features[idx].properties.C_Name];
      }
      var color = d3.scale.linear().domain([0,1000]).range(["#ccc","#f00"]);
          d3.select("svg").selectAll("path").data(features).attr({
            d: path,
            fill: function(d) {
              return color(d.density);
            }
          }).on("mouseover", function(d) {
            // $("#name").text(d.properties.C_Name);
            // $("#density").text(d.density);
            // $("#city").text(d.properties.C_Name);
            // $("#city").attr('href','/city/'+d.properties.C_Name+'/hostel' );
      });
    });

	$('#search').change(function(){
		var name = $(this).val();
		$.post('/hostel/search',{name:name},function(hostel){
			console.log(hostel);
			window.location = "/hostel/"+hostel.id;
		});
	});

  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfEDd8hvz5TVWFnhwikcQchFl00CSm724&callback=initMap">
    </script>
  </body>
</html>