
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
            
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 85vh; }
    </style>
  
    <div class="container-fluid">
      <div class="row">
          <% include ../navbar %>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-md-8" id="map">
              <!-- <svg viewBox="0 0 800 600"></svg> -->
        </div>
      </div>
    </div>
  
    <% include ../create %>

    
<script>
var hostels = <%- JSON.stringify(hostels) %>;
var map;
function initMap() {
  var myLatLng = {lat: 23.655292290836066, lng: 120.44604003906248};
  map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    zoom: 7,
    disableDefaultUI: true
  });

  addMarker(map,hostels);
}

function say(text){
  console.log(text);
}

function addMarker(map,hostels){
  console.log('call addMarker...');
  for (var i = 0; i < hostels.length; i++) {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({'address': hostels[i].address}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
  }
}
</script>

  <script>
	$('#search').change(function(){
		var name = $(this).val();
		$.post('/hostel/search',{name:name},function(hostel){
			console.log(hostel);
			window.location = "/hostel/"+hostel.id;
		});
	});
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4zdPqv2nA6dBUX15BOE-mBQ0RUucM6VQ&callback=initMap">
    </script>
