<html>
	<head>
		<title>Xchanger-hostels</title>
		<meta name="viewport" content="initial-scale=1.0">
    	<meta charset="utf-8">
    	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<h1><%= city %> 共有<%= hostels.length %>間民宿</h1>
		<div class="container">
			<div class="row">
				<% _.each(hostels, function (hostel) { %>
					<div class="col-md-4">
						<div class="panel panel-default">
  						<div class="panel-heading"><%= hostel.name %></div>
  							<div class="panel-body">
    							<% if(hostel.licence){%>
									<img src="/images/Img_307.gif" width="60%" />
    							<% }%>
    							<a href="/hostel/<%= hostel.id %>" class="btn btn-primary">詳細資料</a>
  							</div>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
    	
	</body>
</html>